{:deps
 {com.rentpath/rp-jackdaw-clj {:mvn/version "0.0.6"}
  org.clojure/clojure {:mvn/version "1.10.0"}
  org.clojure/tools.logging {:mvn/version "0.4.1"}
  ch.qos.logback/logback-classic {:mvn/version "1.2.3"}}

 :paths
 ["src" "test" "dev" "resources"]

 :mvn/repos
 {"confluent" {:url "https://packages.confluent.io/maven/"}}
}
